ParametaApi-integration/src/main/resources/wsdl/employeeServiceBean.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.parameta.com/api/web/ws/dto" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.parameta.com/api/web/ws/dto" targetNamespace="http://www.parameta.com/api/web/ws/dto">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.parameta.com/api/web/ws/dto">


            <xsd:element name="EmployeeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="names" type="xsd:string"/>
                        <xsd:element name="lastName" type="xsd:string"/>
                        <xsd:element name="documentType" type="xsd:int"/>
                        <xsd:element name="documentNumber" type="xsd:string"/>
                        <xsd:element name="dateOfBirth" type="xsd:string"/>
                        <xsd:element name="hiringDate" type="xsd:string"/>
                        <xsd:element name="positionRoleType" type="xsd:int"/>
                        <xsd:element name="salary" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="EmployeeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="resultCode" type="xsd:int"/>
                        <xsd:element name="resultMsg" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EmployeeResponse">
        <wsdl:part element="tns:EmployeeResponse" name="EmployeeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EmployeeRequest">
        <wsdl:part element="tns:EmployeeRequest" name="EmployeeRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="employeeServiceBeanPort">
        <wsdl:operation name="Employee">
            <wsdl:input message="tns:EmployeeRequest" name="EmployeeRequest">
            </wsdl:input>
            <wsdl:output message="tns:EmployeeResponse" name="EmployeeResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="employeeServiceBeanPortSoap11" type="tns:employeeServiceBeanPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Employee">
            <soap:operation soapAction=""/>
            <wsdl:input name="EmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="EmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="employeeServiceBeanPortService">
        <wsdl:port binding="tns:employeeServiceBeanPortSoap11" name="employeeServiceBeanPortSoap11">
            <soap:address location="http://localhost:8078/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>